POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=hr_database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin1234
PGADMIN_PORT=5050

VLLM_HOST_PORT=18002
SERVER_URL=http://agent_server:8000
LLM_MAX_TOKENS=1000

USE_VLLM = True

# Для vLLM

VLLM_MODEL=Qwen/Qwen2.5-7B-Instruct-GPTQ-Int4
VLLM_KEY=fake-key
VLLM_BASE_URL=http://vllm:8001/v1

# Для API

PROXY_MODEL=gpt-4o-mini
PROXY_API_KEY=api-key
PROXY_BASE_URL=https://api.proxyapi.ru/openai/v1